<script type="application/ld+json">
  {
      "@context" : "https://schema.org",
      "@type" : "BlogPosting",
      "mainEntityOfPage": {
           "@type": "WebPage",
           "@id": "{{ .Permalink }}"
      },
      "articleSection" : "{{ .Section }}",
      "name" : "{{ .Title }}",
      "headline" : "{{ .Title }}",
      {{ if .IsHome -}}
      "description" : "{{ .Site.Params.description | plainify }}",
      {{- else -}}
      "description" : "{{ default .Summary .Description | plainify | truncate 160 }}",
      {{- end }}
      "inLanguage" : "{{ .Site.LanguageCode | default "zh-cn" }}",
      "author" : {
          "@type": "Person",
          "name": "{{ .Site.Params.author.name }}"
      },
      "creator" : {
          "@type": "Person",
          "name": "{{ .Site.Params.author.name }}"
      },
      "publisher": {
          "@type": "Organization",
          "name": "{{ .Site.Title }}",
          "logo": {
              "@type": "ImageObject",
              "url": "{{ .Site.BaseURL }}logo.png"
          }
      },
      "accountablePerson" : "{{ .Site.Params.author.name }}",
      "copyrightHolder" : "{{ .Site.Params.author.name }}",
      "copyrightYear" : "{{ .Date.Format "2006" }}",
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
      "dateModified" : "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
      "url" : "{{ .Permalink }}",
      "keywords" : [{{ if isset .Params "tags" }}{{ range $i, $tag := .Params.tags }}{{ if $i }}, {{ end }}"{{ $tag }}"{{ end }}{{ end }}]
  }
</script>
{{ if .Site.Params.keywords }}
<meta name="keywords" content="{{ delimit .Site.Params.keywords ", " }}">
{{ end }}
